<!DOCTYPE html>
<html>
<head>
	<title>Flask Image Update</title>
	<meta http-equiv="refresh" content="2">
	<script>
		setTimeout(function() {
			location.reload();
		}, 2000);
	</script>
</head>
<body onload="reloadImage()">
    <img id="image" src="{{ sip }}" alt="Image" />
    <img id="image" src="{{ dip }}" alt="Image" />
    <img id="image" src="{{ vendor }}" alt="Image" />
    <img id="image" src="{{ protocol }}" alt="Image" />
    <img id="image" src="{{ sport }}" alt="Image" />
	<img id="image" src="{{ dport }}" alt="Image" />
</body>
</html>
